a {

}

.nav {
    cursor:pointer;
}
.navbar-brand {
    padding-top: 30px;
    padding-bottom: 30px;
}
.navbar-brand a,
.navbar-nav li a {
    line-height: 100px;
    height: 100px;
    padding-top: 0;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 50px; /* .push must be the same height as .footer */
    margin-top: 10px;
    text-align: center;
}
.essay {
	color: black;
	cursor: pointer;
}

.caro {
    max-height: 10px;
}

a.essay:link {
    text-decoration: none;
}

a.essay:visited {
    text-decoration: none;
}

a.essay:hover {
    text-decoration: none;
    color: black;
}

a.essay:active {
    text-decoration: none;
}
